{% extends 'base.html'%}
{%load static%}

{%block titulo%} |{{imovel.proprietario}}{%endblock%}

{%block corpo%}
<h1> {{imovel.proprietario}}</h1>
<dl>
        <dt>Telefone</dt>
    <dd>{{imovel.proprietario.telefone}}</dd>

    <dt>Logradouro</dt>
    <dd>{{imovel.logradouro}}</dd>

    <dt> Quadra/Lote</dt>
    <dd>{{imovel.quadra}}/{{imovel.lote}}</dd>

    <dt> Bairro</dt>
    <dd>{{imovel.bairro}}</dd>

    <dt> Status</dt>
    <dd>{{status}}</dd>




</dl>
<form method="get" action="{% url 'gera_docx' imovel.id%}">
         <button type="submit" class="btn btn-primary">Gerar</button>
</form>
{%endblock%}